.bespoke-int {
    display: flex;
 
    width: 100vw;
    justify-content: space-between;

    font-family: Arial, sans-serif;
    background-color: #d5a981;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    .left-section {
      padding: 30px;
      width: 50%;
      height: 100vh;
      background-color: #d5a981;
      border-right: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      h1 {
    
        font-size: 36px;
        font-weight: bold;
   
      }
  
      .intro {
        font-size: 16px;
        color: #555;
        padding-top: 1rem;

      }
  
      .project-image {
        width: 100%;
       
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
  
       
      }

      .enq-btn{
        all: unset;
 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #0d0c0c;
        color: #ffffff;
        font-size: 1rem;
        padding: 3px 5px;
        margin-top: 1rem;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.2s;
      
        &:hover {
          background-color: #403e3e;
        }
      
    
       
      }
    }

    .back-btn1{
     all: unset;
 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #050505;
    color: #ffffff;
    font-size: 1rem;
    padding: 3px 5px;
    margin-top: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: #3f3d3d;
    }
  }
  
    .right-section {
      width: 50%;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      .project-info {
       
        display: flex;
        justify-content: space-between;
        font-size: 16px;
   
  
        p {
          margin: 0;
          color: #666;
        }
      }
  
      .stages {
        .stage {
     
         border-bottom: 1px solid black ;
       


         img{
           width: 50%;
        
         }
          h3 {
            font-size: 18px;
            font-weight: bold;
         
            color: #333;
          }
  
          p {
            font-size: 14px;
            color: #555;
            line-height: 1.6;
          }
        }
      }
    }
  }
  