
@font-face {
    font-family: 'cool';
    src: url('../../public/coolmain.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    color: black;
  }




.client-one-main1{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: helvetica;
    overflow: scroll;
    border: 0.5px solid gray;
   
}


.client-one-col1{
    width: 20vw;
    height: 100%;
    background-color: #e5e7eb;

    position: sticky;
    top: 0; 
 
   
}

.client-one-col2{
    width: 40vw;
    background-color: #000000;
    height: 100%;
   border: 0.5px solid gray;
 
    >img{
        width: 40vw;
        height: 100%;
    }
}

.client-one-col3{
    width: 40vw;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    border: 0.5px solid gray;
  
   
    
}

.client-one-col3-grid1{
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column; 
    border-right: none;
 
    border-top: none;
    border-bottom: none;
    border: 0.5px solid gray;
 
   
}



.client-one-col3-grid2{
    width: 50%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column; 
    border-left: none;
    border-top: none;
    border-bottom: none;
    border: 0.5px solid gray;
   
   
}


.client-one-col3-grid1-1{
    height: 50vh;
    
    background-color: transparent;
    border-left: none ;
    border-top: none;
    border-bottom: none;
    border-right: none;
  
    
    >img{
        width: 100%;
        height: 100%;
       
    }
}

.client-one-col3-grid1-2{
    height: 50vh;
    width: 100%;
    background-color: #e5e7eb;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0.5px solid gray;
    
    >img{
        width: 100%;
        height: 100%;
      
    }
}

.client-one-col3-grid1-3{
    height: 50vh;
    background-color: #e5e7eb;
    border-top: none;
    border-bottom: none;
 
   
    >img{
        width: 100%;
        height: 100%;
       
    }
}
.client-one-col3-grid1-4{
    height: 50vh;
    width: 100%;
    background-color: #e5e7eb;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
 
    border: 0.5px solid gray;

    >img{
        width: 100%;
        height: 100%;
      
    }
}



.client-one-combined{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.client-one-col2-raja{
    display: flex;
    flex-direction: row;
    height: 100vh;

}