// FilterSidebar.scss
.filter-sidebar {
 
    padding: 12px;
    background-color: #e5e7eb;
    border-right: 1px solid #e5e5e5;
    color: black;
  
    .categories {
      margin-bottom: 24px;
  
      h2 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
        
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          
          border-bottom: 1px solid rgb(113, 102, 102);
          font-size: 12px;
          padding: 10px;
          font-weight: 600;
  
          a {
            color: #373434;
            text-decoration: none;
            transition: color 0.2s ease;
  
            &:hover {
              color: #2a2a2a;
              text-decoration: underline;
            }
          }
        }
      }
    }
  
  }