// FilterSidebar.scss
.filter-sidebar {
 
    
    background-color: #e5e7eb;
    border-right: 1px solid #e5e5e5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .categories {
      margin-top: 4rem;
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      p {
     
        font-weight: 600;
        color: #373434;
        font-size: 14px;
        display: none;
  
       
      
        
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          
          border-bottom: 1px solid rgb(202, 198, 198);
          font-size: 12px;
          padding: 20px;
          padding-left: 10px;
          padding-right: 5px;
          font-weight: 600;
  
          a {
            color: #373434;
            text-decoration: none;
            transition: color 0.2s ease;
  
            &:hover {
              color: #2a2a2a;
              text-decoration: underline;
            }
          }
        }
      }
    }
  
  }


  .back-btn2{
    
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #5a5454;
    color: #f5f0f0;
    font-size: 12px;
    padding: 3px 5px;
    margin-right: 29px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s;
  
    &:hover {
      background-color: #676060;
    }
  }


  @media (max-width: 500px) { 
    .filter-sidebar{
      display: none;
    }
  }