// FilterSidebar.scss
.filter-sidebar {
 
    
    background-color: #e5e7eb;
    border-right: 1px solid #e5e5e5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .categories {
      margin-top: 4rem;
      margin-bottom: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      p {
     
        font-weight: 600;
        color: #373434;
        font-size: 14px;
        display: none;
  
       
      
        
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          
          border-bottom: 1px solid rgb(202, 198, 198);
          font-size: 12px;
          padding: 20px;
          padding-left: 10px;
          padding-right: 5px;
          font-weight: 600;
  
          a {
            color: #373434;
            text-decoration: none;
            transition: color 0.2s ease;
  
            &:hover {
              color: #2a2a2a;
              text-decoration: underline;
            }
          }
        }
      }
    }
  
  }


  .back-btn2{
    
    padding: 2px 3px;
    margin-right:29px ;
  }