

.product-carousel {
  width: 450px;
   height: 80vh;
   object-fit: cover;
    margin: 0 auto;
  
    .slick-slide img {
      width: 100%;
      height: 80vh;
  
    }
  
    .slick-dots {
      bottom: -30px;
    
    }
  
    .slick-prev,
    .slick-next {
      z-index: 10;
    }
  }


  .product-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;


  }

  .product-page-one{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
 


    >a button{
      font-size: 30px;
      margin-left: 3.5rem;
      margin-bottom: 1rem;
      margin-top: 3rem;
    }
  }

  .product-page-two{
    width: 70%;
 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .pp-2-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;

    justify-content: start;
    align-items: start;



    
  }


  .pp-2-1{
    padding-left: 2.5rem;
    width: 100%;
  
  }

  .ul-1{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30%;


    >li{
      margin-left: 1rem;
      font-size: 20px;
      padding-bottom: 0.5rem;
    }

    >h3{
      font-size: 30px;
      text-align: left;
    }
  }


  .ul-2{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
 


    >li{

      list-style: none;
      border-bottom: 1px solid gray;
      color: gray;
     font-size: 20px;
      display: flex;
      padding: 10px;
     
    }

    >h3{
      font-size: 30px;
      text-align: left;
    }
  }


  .product-page-three{
    padding: 2.5rem;
  }

